<% if signed_in? %>
  <div class="row">
    <aside class="span4">
    <section> 
      <%= render 'shared/user_info' %>
    </section>
    <section> 
      <%= render 'shared/stats' %>
    </section>
    <section> 
      <%= render 'shared/goal_form' %>
    </section>
    </aside>
    <div class="span8">
       <h3>Ogyam! feeds</h3>
       <%= render 'shared/feed'%>
    </div>
  </div>
<% else %>
  <%= render 'main' %>
<% end %>
