<%= form_for(@goal) do |f| %>
<%= render 'shared/error_messages', object: @goal%>
  <div class="field">
     <%= f.text_area :content, placeholder: "Enter a new goal", size: "24x6"  %>
     <%= f.text_field :days_to_complete_goal  %>
  </div>
  <%= f.submit "save", class: "btn btn-large btn-primary" %>
<% end %>
