<%= form_for @status do |f| %>
<%= render 'shared/error_messages', object: @status%>
  <div>
    <%= f.hidden_field :goal_id %>  
  </div>
   <%= f.text_field :milestone %>
  <%= f.submit "status", class: "btn btn-large btn-primary" %>
<% end %>
