<footer id="footer" class="footer">
<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <a class="pull-left footer-logo" href="/">Ogyam!</a>
    </div>

    <div class="span5">
      <ul class="unstyled inline social-icons">
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon-pinterest"></i></a></li>
        <li><a href="#"><i class="icon-linkedin-sign"></i></a></li>
        <li><a href="#"><i class="icon-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="span3">
      <ul class="unstyled site-map">
        <li> <%= link_to "Home", root_path%> </li>
        <li> <%= link_to "Press Kit", '#'%> </li>
        <li> <%= link_to "Blog", blog_path%> </li>
        <li> <%= link_to "About", about_path%> </li>
        <li> <%= link_to "Terms", terms_path %> </li>
      </ul>
    </div>
  </div>
</div>

  <%= render 'layouts/contact_form' %>    
</footer>

