<% if signed_in?  %>
  <h4>Hello, <%= @user.name if defined?(@user) %></h4>
  <%= link_to "Sign out", signout_path, method: "delete" %>
  <%= link_to "Settings", edit_user_path(current_user) %>
<% else %>
<header id="header" class="header">

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Ogyam!", root_path, class: "brand" %>
      <ul class="nav  pull-right">
        <li> <%= link_to "Login", signin_path %> </li>
        <li> <%= link_to "Signup", signup_path %> </li>
      </ul>
    </div>
  </div>
</div>

<% end %>
